.banner {
    display: flex;
    width: 1115px;
    height: 490px;
    margin: auto;
}

.banner ._1c {
    width: 218px;
}

.banner ._1c .hang {
    display: flex;
}

.banner ._1c .hang .hangtrai {
    width: 35px;
}

.banner ._1c .hang .hangphai {
    width: calc(100% - 35px);
}

.banner ._2c {
    width: 585px;
}

.banner ._2c .tren {
    height: 312px;
}

.banner ._2c .duoi {
    height: 160px;
    display: flex;
}

.banner ._2c .duoi .motnua {
    width: 50%;
}

.banner ._3c {
    width: 372px;
    display: flex;
    flex-wrap: wrap;
}

.banner ._3c .saudiv {
    width: 50%;
}

img {
    width: 100%;
}

#s1 .carousel-indicators {
    display: none;
}